{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <center><h1>Hello Bossing!</h1></center>

<body>
<div class="about-content">
                <h2>Molina Transpo Service</h2>
                <hr><p> Welcome to Molina Transpo Service, your trusted partner in the hassle-free journey on public transportation.
                Our platform allows users to have real-time bus information, and schedule updates
                so you'll be able to have a smooth and reliable travel experience, and no doubt whether it's your way to work every day or
                you're just traveling for the first time. </p>
            </div>
</body>
{% endblock content %}